@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');


.checked {
    color: orange;
    margin: 10px 0 10px 0;
}

hr {
    margin-top: 1em;
    border: 3px solid;
    border-radius: 1px;
    color: rgb(0, 0, 0);
    width: 30%;
    margin: 0 auto;
}

h2 {
    font-family: 'Oswald', 'sans-serif';
    font-weight: 700;
    color: red;
    font-size: 40px;
}

h5 {
    margin-top: 3em;
    margin-bottom: 3em;
}

header {
    display: flex;
    align-items: center;

}

footer {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;

}


.img-cabecalho {
    width: 250px;
    height: 250px;
}

ul {
    display: flex;
    align-items: center;
}

li {
    margin-left: 20px;
}

li a {
    color: white;
    font-family: 'Oswald', 'sans-serif';
    font-size: 32px;
    text-decoration: none;
    text-transform: uppercase;
    transition: 1s;
}

li a:hover {
    transition: 1s;
    color: red ;
}

.card {
    width: 350px;
    text-align: center;
    align-items: center;
    transition: 1s;
    border: none;
}

.card-pizza {
    background-color: #FFEBCD;
    border-radius: 20px;
}

.img-card {
    height: 130px;
    width: 130px;
}

.card-img-top {
    height: 280px;
    width: 280px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    
}

.card-title {
    font-family: 'Oswald', 'sans-serif';
    font-weight: 600;
    font-size: 24px;
}

.card-text {
    text-align: center;
    font-family: 'Oswald', 'sans-serif';
    font-weight: 500;
    font-size: 18px;
}

.secao {
    text-align: center;
    margin-top: 5em;

}

.link-pagina {
    margin-top: 1em;

    text-decoration: none;
    text-transform: uppercase;
    color: rgb(0, 0, 0);

    font-family: 'Oswald', 'sans-serif';
    font-size: 28px;
    

    transition: 5ms;
}

.link-pagina:hover {
    color: red;
    cursor: pointer;
}

.titulo_secao {
    margin-top: 1em;
    margin-bottom: 1em;
    text-transform: uppercase;
    font-family: 'Oswald', 'sans-serif';
    font-size: 38px;
    font-weight: 600;
}

.sobre-nos {
    background-image: url(/img/fundo-sobre-nos-pizza.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    
    margin-top: 8em;
    padding: 180px;
}

.sobre-nos h2 {
    color: white;
    font-size: 64px;
    text-align: left;
}

.sobre-nos p {
    font-family: 'Oswald', 'sans-serif';
    font-weight: 500;
    color: white;
    font-size: 36px;
    margin-top: 2em; 
    text-align: left;
}

.coluna-servico h4{
    font-family: 'Oswald', 'sans-serif';
    font-size: 26px;
    margin-top: 0.5em;

    
}

.coluna-servico p {
    font-family: 'Oswald', 'sans-serif';
    font-size: 18px;
    margin-top: 0.5em;
}

.img-servico {
    width: 120px;
    height: 120px;
    margin-top: 2em;
}


.localizacao {
    margin-top: 0;
    background-image: url(/img/fundo-localizacao.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 50px;
    padding-bottom: 100px;

    height: 100%;
}

.texto-pizzaria {
    color: white;
    font-family: 'Oswald', 'sans-serif';
    font-size: 30px;
}

#titulo-localizacao {
    color: white;
    margin-top: 0;
}

.img-pizzaria {
    border-radius: 25px;
    width: 600px;
}

.rodape {
    background-image: url(/img/img-rodape.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    filter: grayscale(1);
    padding: 90px;

}

.rodape-div h4{
    color: white;
    font-family: 'Oswald', 'sans-serif';
    font-size: 28px;
    font-weight: bold;
}

.rodape-div p {
    color: white;
    font-family: 'Oswald', 'sans-serif';
    font-size: 18px;
    font-weight: 500;
    margin:0;
}

.rodape-div img {
    width: 55px;
    height: 55px;
    margin-right: 6em;
    margin-top: 1em;
    filter: brightness(200%);
}

.rede-social {
    width: 18px;
    height: 18px;
}

.separar2 {
    background-image: url(/img/fundo-pizza2.jpg);
    margin-top: 2em;
    padding: 20px;
}

.separar {
    background-image: url(/img/fundo-pizza2.jpg);
    margin-bottom: 2em;
    padding: 20px;
}

.coluna-servico {
    margin-bottom: 2em;
    margin-top: 1em;
}


#fotos-pizzaria {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#cabecalho {
    background-color: red;
    background-image: url(/img/fundo-header.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center left;
    padding: 60px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

#pizza {
    width: 280px;
    text-align: center;
    align-items: center;
    transition: 1s;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
 

    box-shadow: 5px 10px 8px #888888;
}

#pizza:hover {
    transform: scale(1.1);
    transition: 1s;
    cursor: pointer;
}

#nome-pizza {
    font-size: 22px;
}


#avaliacoes {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-top: 3em;
}

#cardapio {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    margin-top: 3em;
}

#promocao {
    background-image: url(/img/fundo-sobre-nos4.jpg);
    background-repeat: repeat;
    margin-top: 0;
    margin-bottom: 0;
    padding: 80px;
}

#titulo-promocao {
    font-size: 64px; 
}

#texto-promocao {
    font-family: 'Oswald', 'sans-serif';
    font-weight: 500;
    color: rgb(0, 0, 0);
    font-size: 54px;
    margin-top: 0.5em;
}

@media screen and (max-width: 610px) {
    nav {
        display: none;
    }

    #sobre-nos {
        display: none;
    }

    #promocao {
        display: none;
    }

    .localizacao {
      display: none;
    }
  }


  